# Java/Maven
/target/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
hs_err_pid*
.DS_Store
.idea/
*.iml
*.ipr
*.iws
*.swp
*~
/.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

# Otros
*.bak
*.tmp
